- prev_day = @current_day - 1.day
- next_day = @current_day + 1.day

.row
  .col-pad-8.col-pad-offset-2
    .page-users-show
      %h2.row.title 任务状态记录
      .row.time_bar
        %a.prev{:href=>"/users/#{@user.id}/#{prev_day.year}/#{prev_day.month}/#{prev_day.mday}"} 
          %i.fa.fa-chevron-left
          %span 前一天
        .time= @current_day.strftime("%Y 年 %-m 月 %-d 日")
        %a.next{:href=>"/users/#{@user.id}/#{next_day.year}/#{next_day.month}/#{next_day.mday}"}
          %span 前一天
          %i.fa.fa-chevron-right
        %a.calendar{:herf=>"javascript:;"}
          .fa.fa-calendar

      .row
        .user-info
          %img.avatar{:src=> @user.gravatar_url}
          .name= @user.name

        .active-tasks.tasks
          = render :partial => 'active_tasks/list'

        .recent-tasks.tasks
          = render :partial => 'recent_tasks/list'

        .filling-tasks.tasks
          = render :partial => 'filling_tasks/list'          

        .change-events.tasks
          = render :partial => 'change_events/list'

        .task-submits.tasks
          = render :partial => 'task_submits/list'
