.row
  .col-pad-8.col-pad-offset-2
    .page-task-submits-form
      %h2.title 增加提交物记录
      = simple_form_for [@user, @task_submit] do |f|
        = f.input :desc, :as => :text
        = f.input :year, :as => :hidden, :input_html => { :value => params[:year] }
        = f.input :month, :as => :hidden, :input_html => { :value => params[:month] }
        = f.input :mday, :as => :hidden, :input_html => { :value => params[:mday] }
        = f.button :submit
