.row
  .col-pad-8.col-pad-offset-2
    .page-recent-tasks-form
      %h2.title 增加近期要做的工作
      = simple_form_for [@user, @recent_task] do |f|
        = f.input :desc, :as => :text
        = f.input :year, :as => :hidden, :input_html => { :value => params[:year] }
        = f.input :month, :as => :hidden, :input_html => { :value => params[:month] }
        = f.input :mday, :as => :hidden, :input_html => { :value => params[:mday] }
        = f.button :submit
